<app-header [pageTitle]="pageTitle" [isNotHome]="isNotHome"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Equipo de Desarrollo</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list lines="full">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/team/br.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Bastián Rodríguez</h2>
        <h3>Ingeniería en Informática</h3>
      </ion-label>
    </ion-item>    
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/team/jp.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Juan Pablo Tejo</h2>
        <h3>Ingeniería en Informática</h3>
      </ion-label>
    </ion-item>    
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Benjamín Zuñiga</h2>
        <h3>Ingeniería en Informática</h3>
      </ion-label>
    </ion-item>    
  </ion-list>
  <ion-card-header>
    <ion-card-content>
      Aplicación realizada para la asignatura de Desarrollo de Aplicaciones Móviles PGY4121 en la sección 004D.
    </ion-card-content>
  </ion-card-header>
</ion-content>
