<app-header [pageTitle]="pageTitle" [isNotHome]="isNotHome"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">
        <strong>Página No encontrada</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      El contenido que esta buscando no esta disponible. Por favor dirijase a la pagina principal o envienos un mensaje en Contacto
    </ion-card-content>

    <ion-item href="" class="ion-activated" color="danger">
      <ion-icon name="arrow-undo-outline" slot="start"></ion-icon>
      <ion-label>Volver</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
