.cardStyle{
    border-radius: 20px;
    --ion-background-color: #3DC2FF;
}

span{
    color: white;
    font-weight: 300;
}

.temp{
    font-size: 3em;
    font-weight: 300;
    margin: 4px;
}

.locationIcon{
    color: rgb(248, 173, 76);
}

.date{
    color: white;
    font-weight: 500;
}
