.avatar{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.no-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #32c6da;
    display: flex;
    justify-content: center;
    align-items: center;
}