<app-header [pageTitle]="pageTitle" [isNotHome]="isNotHome"></app-header>

<ion-content [fullscreen]="true">
    <ion-card color="danger">
      <ion-card-header>
        <ion-card-title>Contactenos</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-input formControlname="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input formControlname="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Mensaje:</ion-label>
          <ion-input formControlname="mensaje"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block">Enviar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
