<ion-header>
  <ion-toolbar>
    <ion-title>Informacion de: {{usuario.nombre}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="usuario">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input required type="text" [(ngModel)]="usuario.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input required type="text" [(ngModel)]="usuario.apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Genero</ion-label>
      <ion-input required type="text" [(ngModel)]="usuario.genero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input required type="number" [(ngModel)]="usuario.edad"></ion-input>
    </ion-item>
  </div>


</ion-content>
